@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

.Espacios{
    margin: 80px;
}

body{
    background: rgb(248, 246, 246);
}

.conteiner__all{
    position: relative;
    right: 0px;
    transition: all 300ms;
}

header{
    width: 100%;
    height: 100px;
    font-family: Poppins;    
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    *background: #9dcddd;;
    transition: all 300ms;
 
}

.move_content{
    right: 180px;
}



.container__header{
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 20px;
    
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
   
}

.logo img{
    width: 200px;
    background: #8d6f56;
    border-radius: 30px;
    padding: 10px;
   
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 20px;
    list-style: none;
}

nav ul li a{
    color: #373737;
    font-size: 14px;
}

.select{
    background: #8d6f56;
    padding: 10px 30px;
    color: white;
    border-radius: 20px;
    
}
/*Nav fijado*/
.nav_mod{
    height: 95px;
    box-shadow: 1px 1px 10px  0px #00000010; 
    background: #8d6f56;
    transition: all 300ms;
}

.nav_mod img {
    background: #8d6f56;
    border-radius: 30px;
    padding: 10px;
}



/*Termino de nav fijado*/


/*BOTON MENU*/
.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}
.btn__menu:hover{
    background: #e6e5e5;
}
/*FIN DEL BOTON MENU*/

/*PORTADA*//*COVER*/

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: Poppins;
    margin-top: 100px;
}



.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
    
}


.cover .container__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}


.cover h1{
    max-width: 400px;
    font-size: 50px;
    font-weight: 900;
    color: #373737;
}

.cover h2{
    font-size: 40px;
    font-weight: 900;
    color: #d4955d;
    margin-top: -20px;
}
.cover p{
    margin-top: 12px;
    color: #373737;
    font-family: Montserrat;
    text-align: justify;
}


.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;    
    font-weight: 600;
    border: none;
    color: white;
    background: #c88c57;
    border-radius: 20px;
    *box-shadow: 1px 1px  30px -5px #b372d1;
    cursor: pointer;
    transition: box-shadow 500ms;
}


.cover input[type="button"]:hover{
    box-shadow: 1px 1px  30px -5px #b17948;
}


/*IMG DE LA PORTADA*/
.container__vector{
    position: relative;
}

.container__vector img{
    position: absolute;
    top: 165px;
    right: 0px;
    *width: 600px;
    animation: move__vector 3s ease-in-out infinite;
    transition: all 300ms;
    border-radius: 8px;
}

@keyframes move__vector{
    0%{
        transform: translateY(10px);
    }

    25%{

        transform: translateY(-10px);
    }

    100%{

        transform: translateY(10px);
    }
}
@media screen and (max-width:920px) {
    .container__vector img{
        width: 500px;
    }
    
}

@media screen and (max-width:760px) {
    
    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu{
        display: flex;
    }
    nav{
        height: 100%;
        background: #498baf;
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0 25px; 
        transition: all 300ms;
    }

    .move_nav{
        right: 0px;
    }

    nav ul{
        flex-direction: column;
    }
    nav ul li{
        margin: 20px 0px;
    }

    .container__vector img{
        transform: scale(0);
        animation: none;
    }
    

}
/*TERMINO DE LA PORTADA*/


.content{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.clearflix{
    clear: both;
    float: none;
}

/*Boton para bajar*/

.btn-bajar {
    display: block;
    margin: 0;
    text-align: center;
    cursor: pointer;
    margin-bottom: 25px;
    text-decoration: none;  
    transition: all 1000ms;
    
}

.btn-bajar i{
    font-size: 25px;
    cursor: pointer;
    transition: all 1000ms;
}
.btn-bajar p{
    font-family: Montserrat;
}




/*DESCRIPCION*/
.content{
    width: 1300px;
    height: 400px;
    padding: 25px;
    *border: solid red 1px;
    display: flex;
    justify-content: center;
    
}

.descripcion{

    background: #d4955d;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-radius: 15px;
   
}



.descripcion h1{
    line-height: 20px;
    color: white;
    font-family: Poppins;
    
}

.descripcion h3{
    line-height: 50px;
    color: white;
    font-family: Lobster Two;
    font-size: 25px;
}

.descripcion p {
    line-height: 20px;
    color: white;
    font-family: Montserrat;
    text-align: justify;
    padding: 15px;
}

/*Señal de bajar*/


/*Video de la descripción*/
/*Fin vid*/



/*TARJETAS*/

.container__cards{
    max-width: 1400px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
    
}

.card:hover{
    width: 350px;
}

.card:hover .cover img{
    top: 0px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(10px 10px 8px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}
.card:nth-of-type(1) .img__back{
    background-image: url("../imagenes/Imagenes_principal/Tarjetas/bg1.jpg");
}

.card:nth-of-type(2) .img__back{
    background-image: url("../imagenes/Imagenes_principal/Tarjetas/bg2.jpg");
}

.card:nth-of-type(3) .img__back{
    background-image: url("../imagenes/Imagenes_principal/Tarjetas/bg3.jpg");
}

.card:nth-of-type(4) .img__back{
    background-image: url("../imagenes/Imagenes_principal/Tarjetas/bg1.jpg");
}

.card:hover .img__back {
    bottom: -40px;
}


.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
    font-family: Lobster two;
    text-align: center;
    font-size: 35px;
}

.card .description p{
    margin-top: 10px;
    font-size: 20px;
    font-family: Montserrat;
}


.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background-color: #c89568;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 18px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #aa570e;
}


















/*TERMINO DE TARJETAS*/
/*SERVICIOS*/
/*.servicios{
    width: 980px;
    list-style: none;
    margin: 0px auto;
}
.title__cont h1{
    font-family: Poppins;
    font-size: 28px;
    text-align: center;
 
}

.servicios li p{
    margin-top: 50%;
}

.title__cont hr{
    border: none;
    height: 4px;
    background-color: black;
    margin-bottom: 50px;

}

.servicios li{
    float: left;
    width: 220px ;
    height: 220px;
    text-align: center;
    color: #3c3c3c;
    margin: 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    border: #087E8B solid 4px;
    font-family: Alegreya;
    *border-radius: 80%;
    padding: 30px;
    margin-right: 10px;
   
}

.servicios li img{
    height: 200px;
    width: auto;
    margin: 0;
    display: block;
}

.servicios li:hover{
    background: #087E8B;
    color: #3c3c3c;
    transition: all 0.5s;
    animation: transitionblock 1s ease-in-out ;
}

@keyframes transitionblock{
    80%{
        transform: scale(0.9);
    }
}
*/
/*CINTA SERVICIOS*/




.servhr h1{
    text-align: center;
    font-size: 85px;
    margin: 20px;
    font-family: Montserrat;
}



.cinta_serv{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
    flex-wrap: wrap;
    cursor: pointer;
    
   
}

.cinta_serv img{
    display: block;
    margin: auto;
    margin-left: 15px; 
    width: 256px;
    height: 256px;
}

.cinta_serv p{
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    margin-top: 15px;
    
}

.cinta_serv :hover{
    *transition: all 0.5s;
    transform: scale(0.9);
    animation: transitionblock 1s ease-in-out ;
    background: #8D6F56;
    color: white;
}
/*
@keyframes transitionblock{
    80%{
        transform: scale(0.9);
    }
}
*/
.hoa1{
    border: solid #8D6F56 5px ;
    border-radius: 15px;
    margin: 15px;
    transition: transform .2s;
}


/*CONTEINER REDES*/
.conteiner__redes {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.conteiner__redes a{
    margin-top: 4px;
}

.conteiner__redes .whsp img{
    width: 70px;
    display: block;
    margin: auto;
}

.conteiner__redes .mssg img{
    display: block;
    margin: auto;
}

.conteiner__redes img{
    width: 60px;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

.conteiner__redes a:hover img{
    background: #d1cdcd;
    border-radius: 100%;
}

/*TERMINO DE REDES*/


.todo img{
    float: right;
}


/*UBICACIÓN*/
.Ubication{
    *border: solid red 1px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

.Ubication iframe{
    width: 800px;
    height: 500px;
    border-radius: 150px 0px  0px 150px ;
    margin: 0px 90px;
    padding-left: 50px;
    *border: red solid 10px;
  
}

.text_Ubi{
    *border: solid red 1px;
    font-size: 15px;
}

.text_Ubi h1{
    font-family: Rubik;
    font-size: 38px;
    margin-bottom: 8px;
}

.text_Ubi h2{
    font-family: Rubik;
    font-size: 30px;
}

.text_Ubi h3{
    margin-top: 25px;
    font-family: Montserrat;
}

.Ubication img{
    width: 350px;
    height: 200px;
}


/*FIN DE UBICACIÓN*/


/*IMG FINAL DEL FOOTER*/
.img-foot img {
    width: 1200px;
    display: block;
    margin: auto;
    border-radius: 35px;
    padding: 20px;

}
/*FIN DE IMG*/

/*INICIO DE RS*/



hr{
    width: 1380px;
    margin: auto;
}


.cinta_infors h1{
    text-align: center;
    font-size: 85px;
    margin: 20px;
    font-family: Montserrat;
}


.infors__all{
    display: flex;
    width: 1400px;
    margin: auto;
}

.infors__all .Encuentr{
    border: double #8D6F56 5px;
    border-radius: 15px;
    margin-right: 10px;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Encuentr img{
    display: block;
    margin: auto;
    width: 250px;
}

.Encuentr h3{
    margin: 10px;
    text-align: center;
    font-family: Poppins;
}

.Encuentr p{
    font-family: Rubik;
    text-align: justify;
}


/*FIN DE RS*/

/*MARCAS UTILIZADAS*/

.name-mark p{
    text-align: center;
    font-family: Lobster Two;
    font-size: 35px;
    margin: 30px;    
}

.marcas_utilz{
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.mark{
    margin: 20px;
    cursor: pointer;
}

.marcas_utilz img{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}

/*FIN DE MARCAS*/

/*SCROLL*/
body::-webkit-scrollbar{
    width: 5px;
   
}

body::-webkit-scrollbar-thumb{
    background: #8455BA;
    border-radius: 5px;
    border-right: 6px solid #9032BB;
}

/*FIN SCROLL*/

/*FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url("..//imagenes/Imagenes_principal/Footer/footer3.png");
    background-size: cover;
   /*-webkit-mask-image:url("..//Imagenes/Footer/background-footer.svg");
    background-color: #9dcddd;
     mask-image: url("..//Imagenes/Footer/background-footer.svg");
     -webkit-mask-size: cover;
     mask-size: cover;*/
    }

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.box__footer .logo img{
    width: 180px;
}

.box__footer .terms {
    max-width: 300px;
    margin-top: 15px;
    font-weight: 500;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    text-align: justify;
}

.box__footer h2{
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
    font-family: Rubik;

}
.box__footer a {
    margin-top: 10px;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
}

.box__footer a:hover{
    opacity: 0.7;
}

.box__footer a .fab{
    font-size: 30px;
    margin-right: 5px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: white;
    font-family: Montserrat;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: white;

}
